button {
  cursor: pointer;
}

.vertical-carousel {
  padding: 2rem 0;
  border-radius: 5px;
  position: relative;
}

.vertical-carousel .slick-slider .slick-arrow {
  position: absolute;
  transition: all 0.25s linear;
  font-size: 1.5rem;
  color: rgb(66, 206, 161, 0.8);
  top: 50%;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.2));
}

.vertical-carousel .slick-slider .slick-arrow>i {
  font-size: 2rem;
  transition: all 0.25s linear;
}

.vertical-carousel .slick-slider .slick-arrow>i:focus,
.vertical-carousel .slick-slider .slick-arrow>i:hover {
  transition: all 0.25s linear;
  transform: scale(1.3);
  color: rgb(66, 206, 161) !important;
}

.vertical-carousel .slick-slider .slick-arrow.next {
  transform: translate(540%, -50%);
}

.vertical-carousel .slick-slider .slick-arrow.prev {
  z-index: 2;
  transform: translate(-660%, -50%);
}

.time-box {
  padding: 1.2rem 0 !important;
  font-weight: 600;
}

.time-box span {
  color: #fff;
  padding: 0.2rem 1.2rem;
  font-size: 1.8rem !important;
  outline: 2px solid rgb(66, 206, 161) !important;
}

.time-submit {
  text-align: center;
}

.time-submit button {
  font-size: 1.5rem;
  background: #fff;
  color: rgb(66, 206, 161);
  padding: 0.3rem 2rem;
  border: 1px solid rgb(25, 90, 158);
  letter-spacing: 2px;
}

.time-submit button:focus,
.time-submit button:active {
  outline: none;
}