/* .hr-box {
  background: #fff;
  padding: 0.8rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #ddd;
  cursor: pointer;
  position: relative;
  transition: outline 0.25s ease-in-out;
} */

/* .slick-list {
  padding: 2rem 0 !important;
} */

/*
.slick-list {
  margin: 0 -5px 0 12px !important;
  padding: 1rem 0
}

.slick-slide div {
  padding: 1rem !important;
}


.slick-next:before {
  color: rgb(25, 90, 158) !important;
  font-size: 2rem !important;
}

.slick-prev:before {
  color: rgb(25, 90, 158) !important;
  font-size: 2rem !important;
} */

/* .hr-box img {
  width: 100%;
  max-width: 85px;
  height: 85px;
  margin: 0 auto;
}

.slick-slide div:focus {
  outline: 2px solid rgb(66, 206, 161) !important;
  outline-offset: 1px !important;
} */